body * {
  font-family: 'Varela Round', sans-serif;
}

body {
  background-color: #454d55;
}

.container {
  margin-top: 1rem;
}

.transactions-container > h2 {
  color: #fff;
  text-align: center;
}

.load-data-box {
  text-align: center;
}

.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
