body {
  background-color: #454d55;
}

.login-container {
  margin-top: 5rem;
  box-shadow: 0px 10px 36px 0px rgba(0,0,0,0.75);
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}

img {
  width: 30%;
}
