{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
<link href="/static/index.css" rel="stylesheet">

<script type="text/javascript">
  window.transactions = {{ transactions | safe }};
</script>

<script type="text/javascript" src="/static/index.js"></script>
{% endblock%}

{% block container %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Snowdrop <i class="fas fa-chevron-right"></i> Plaid</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      <form class="form-inline log-out-form" action="/logout" method="POST">
        <button class="nav-item nav-link btn btn-link log-out-btn">Log out</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="load-data-box">
    <button type="button" class="btn btn-dark btn-lg load-data-btn"><i class="fas fa-cloud-upload-alt mr-3"></i>Load data</button>
    <div class="spinner-border m-5 d-none" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="transactions-container d-none">
    <h2>
      List of transactions
    </h2>
    <div class="transactions-table">
    </div>
  </div>

</div>
{% endblock %}
