{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://threads.plaid.com/threads.css">
<link rel="stylesheet" href="/static/login.css">
 <script type="text/javascript">
  window.PLAID_ENVIRONMENT = '{{ plaid_environment }}';
  window.PLAID_PUBLIC_KEY = '{{ plaid_public_key }}';
  window.PLAID_COUNTRY_CODES = '{{ plaid_country_codes }}'.split(',');
  window.PLAID_PRODUCTS = '{{ plaid_products }}'.split(',');
</script>
<script src="/static/login.js"></script>
{% endblock%}

{% block container %}
<form id="login-form" action="/login" method="POST">
  <input id="public-token" type="hidden" name="public_token">
</form>

<div class="container">
  <div class="login-container d-inline-flex flex-column justify-content-center align-items-center">
    <img class="img-fluid" src="https://miro.medium.com/max/9382/1*MOS3hy39rgY6e1oWjYLgqA.png"/>
    <button id="link-btn" class="button button--is-primary mt-3">Connect with Plaid</button>
  </div>
</div>
{% endblock %}
